@charset "UTF-8";

/* Reset 시작 */
* {
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a         {    text-decoration: none;    }
a:link    {    color: #333;    }
a:visited {    color: #333;    }
a:hover   {    color: #555;    }
a:active  {    color: #333;    }

ul        {    list-style: none;    }
/* Reset 끝 */

/* 가이드 라인 시작 */
/*div#wrap         {    border: 1px solid #000;    }*/
/*header#header    {    border: 1px solid #000;    }*/
/*div#headerLogo   {    border: 1px solid #f00;    }*/
/*main#main        {    border: 1px solid #000;    }*/
/*aside#aside      {    border: 1px solid #f00;    }*/
footer#footer    {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
                      /* footer 삭제 금지*/
/* 가이드 라인 끝 */



/* 공통영역 시작 */
body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

div#wrap {
    width: 1060px;
    margin: 0 auto;

    background-color: #fff;
}
/* 공통영역 끝 */

/* header#header 시작 */
header#header div#headerLogo {
    width: 1060px;
    height: 195px;
    background-image: url(../images/topbg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

    /* nav#gnb 시작 */
nav#gnb    {
    height: 39px;
    line-height: 39px;
    padding-left: 50px;
    background-color: #c51a3a;
}
#gnb ul#mainMenu>li {
    display: inline-block;
}
#gnb a {
    color: #b3d1b7;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 6px;
   /* border: 1px solid #fff;*/
}
#gnb a.selected {
    color: #ff3301;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
}

    /* nav#gnb 끝 */

/* header#header 끝 */


/* main#main 시작 */
main#main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#main>div#shopImg {
    width: 440px;
    /* 이미지 크기 400px + 패딩 20px X 2 */
    height: 290px;
    padding: 20px;
    /*border: 1px solid #f00;*/
    background-image: url(../images/shop.png);
    background-repeat: no-repeat;
    background-position: center;

}

#main>div#shopIntro {
    width: 600px;
    padding: 20px;
    /*border: 1px solid #000;*/
}
#main>#shopIntro>h4 {
    margin: 20px 0;
}
#main>#shopIntro>p {
    color: #ff3301;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
}

/* main#main 끝 */


/* aside#aside 시작 */
aside#aside {
    padding: 0 20px;
    margin: 18px auto;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between
}
#aside>div {
    width: 240px;
    height: 150px;

    /*border: 1px solid #08f;*/
    border: 1px dotted #000;
    border-radius: 10px;
}
#aside>#customInfo>h4 {
    color: #fff;
    font-size: 16px;
    padding: 8px;
    background-color: #e76c6e;
}

#aside>#customInfo>ul#infoItem {
    padding: 14px;
    padding-right: 4px;
    list-style: disc;
    list-style-position: inside;
}
#aside>#customInfo li,
#aside>#customInfo span {
    font-size: 12px;
}
#aside>#customInfo li {
    line-height: 20px;
    /*border: 1px solid #000;*/
}
#aside>#customInfo span.txtBold {
    font-weight: bold;
}
#aside>#customInfo span {
    position: relative;
    left: -5px;
}

#aside>div:first-child {
    border: none;
}
#aside>.flowerGoods {
    background-repeat: no-repeat;
    -webkit-background-size: 110px 150px;
    background-size: 110px 150px;

   /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;*/

    /* justify-content : flex-start ;*/
    /* align-content: space-between; */
    /*align-items: flex-end;*/
}
#aside>.flowerGoods:nth-child(2) {
    background-image: url(../images/bg1.png);
}
#aside>.flowerGoods:nth-child(3) {
    background-image: url(../images/bg2.png);
}
#aside>.flowerGoods:nth-child(4) {
    background-image: url(../images/bg3.png);
}

#aside .goodsApart {
    width: 100%;
    /*height: 70px;*/
    text-align: right;
    padding: 6px 12px;
    background-color: rgba(255, 255, 255, 0.6);
    /*margin-bottom: 8px;*/

    position: relative;
    top: 82px;
}
#aside .goodsApart h3 {
    color: #a33160;
    margin-bottom: 10px;
}
#aside .goodsApart span.goodsTxt {
    color: #0f76fa;
    font-size: 13px;
    font-weight: bold;
}

/* aside#aside 끝 */


/* footer#footer 시작 */
footer#footer {
    padding-left: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}
footer#footer>nav#footerLNB li {
    display: inline-block;
}
footer#footer>nav#footerLNB a {
    font-size: 11px;
    padding: 14px 0;
    display: inline-block;
}

footer#footer>div#copyright {
    font-size: 11px;
    line-height: 44px;
    padding-right: 6px;
}
/* footer#footer 끝 */
















